/*Reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--general-color)
}

/*Global configurations*/
.italic {
    font-style: italic;
    color: inherit;
}

i {
    font-size: 6vh;
}

.highlight {
    color: var(--text-highlight);
}

/*Variables*/
:root {
    --main-bg-color: rgb(201, 201, 201);
    --text-highlight: rgb(56, 0, 168);
    --ul-bg-color: rgb(156, 156, 156);
    --p-margin-color: rgb(69, 69, 69);
    --general-color: #24292f;
}

/*Page itself*/

.menu-btn {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #24292f;
}

body>* {
    padding: 15px 2.5% 15px 2.5%;
}

#header {
    width: 90%;
    max-width: 1100px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
}

#nav-bar ul {
    list-style-type: none;
    padding-left: 0px;
}

#nav-bar li {
    display: inline-block;
    margin: 10px;
}

#nav-bar a {
    background-color: var(--ul-bg-color);
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

#nav-bar a:hover {
    background-color: var(--general-color);
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    max-width: 1100px;
    gap: 30px;
    margin: 0;
    background-color: var(--main-bg-color);
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

#welcome-h2 {
    font-size: 6vh;
}

#p-intro {
    font-size: 3vh;
}

.main-h2 {
    font-size: 5vh;
    border-bottom: 3px solid #24292f;
    width: fit-content;
    margin: 10px 0 30px 0;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-me-div {
    display: flex;
    align-items: center;
    gap: 5%;
}

#about-me-div img {
    border-radius: 50%;
}

.about-me-text {
    font-size: 2.5vh;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
}

.skills-certificates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills-certificates-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.div-skills-certificates {
    padding: 15px 30px 15px 30px;
    background-color: white;
    border-radius: 30px;
}

.skills-only {
    width: 200px;
}

.certificate-only {
    width: 400px;
}

.skills-title {
    font-size: 3vh;
    border-left: 4px solid var(--p-margin-color);
    padding: 0 0 0 5px;
}

.icons-div {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.outer-skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.certificate-link {
    font-size: 2.5vh;
    padding: 2px;
    color: black;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#project-link {
    align-self: center;
    background-color: #24292f;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#project-link h2,
#project-icon {
    margin: 0;
    border: none;
}

#project-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    color: white;
}

#project-link:hover {
    background-color: var(--ul-bg-color);
    color: var(--general-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form>form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    font-size: 2.5vh;
    padding: 10px;
    max-width: 800px;
}

input[type="text"],
input[type="email"],
textarea {
    border: 1px solid black;
    font-size: 2.5vh;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    margin: 10px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.form>h2 {
    align-self: flex-start;
}

input[type="text"],
input[type="email"] {
    width: 70%;
}

input[type="submit"] {
    width: 80px;
    text-align: center;
    padding: 10px;
    background-color: var(--main-bg-color);
    font-size: 2.5vh;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    cursor: pointer;
    background-color: #24292f;
    color: white;
}

@media screen and (max-width: 1000px) {

    #header,
    #main {
        width: 90%;
        margin: 0 10px 0 10px;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px
    }

    .skills-certificates-div {
        display: flex;
        flex-wrap: wrap;
    }

    .section-text {
        min-width: 300px;
    }
}

@media screen and (max-width: 800px) {
    #about-me-div {
        flex-direction: column;
        align-items: center;
        gap: 10px
    }
}

@media screen and (max-width: 650px) {

    #main,
    #header {
        width: 95%;
        margin: 0 7px 0px 7px;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .burger-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #nav-bar {
        display: none;
    }

    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        margin-right: 5px;
        margin-bottom: auto;
    }

    .menu-btn__burger {
        width: 30px;
        height: 4px;
        background: var(--general-color);
        border-radius: 5px;
        transition: 0.5s;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 4px;
        background: var(--general-color);
        border-radius: 5px;
        transition: 0.5s;
    }

    .menu-btn__burger::before {
        transform: translateY(-10px);
    }

    .menu-btn__burger::after {
        transform: translateY(10px);
    }

    .menu-btn.open .menu-btn__burger {
        background: transparent;
        transform: translate(-33px, 0);
    }

    .menu-btn.open .menu-btn__burger::before {
        transform: translate(33px, 0) rotate(45deg);
    }

    .menu-btn.open .menu-btn__burger::after {
        transform: translate(33px, 0) rotate(-45deg);
    }
}